<!DOCTYPE html>
<html layout:decorate="~{layout}"
	  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
			<section class="jumbotron text-center">			
				<img class="d-block mx-auto mb-4" src="/image/spring-security.png"
					width="72" height="72">
				<div class="container">
					<h1 class="jumbotron-heading">Clínica Spring Security</h1>
					<p class="lead text-muted">Médicos e Especialistas</p>
				</div>
			</section>

			<div class="album py-5 bg-light">
			    <div class="container">
			        <div class="text-center">
			            <h1 class="h3 mb-3 font-weight-normal">
			                <i class="oi oi-warning"></i>
			                <span th:text="${status}"></span>
			            </h1>
			
			            <i class="fas fa-user-lock">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
								<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
							</svg>
						</i>
			            <h5 class="text-danger" th:text="${error}"></h5>
			
			            <div>
			                <span th:text="${message}"></span><br/><br/>
			                <a class="btn btn-primary" type="button" href="javascript:history.back()">Voltar a página anterior</a>
			            </div>
			        </div>
			    </div>
			</div>
		</main>
	    <script	th:src="~{}" th:fragment="js"></script>
		<script th:inline="javascript" th:fragment="inlinescript"></script>
</section>
</body>
</html>	